version: "3.9"
services:
  db:
    image: postgres:15
    container_name: users_pg
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  # Опционально: можно добавить API-сервис для загрузки аватарок
  # api:
  #   build: .
  #   ports:
  #     - "8001:8001"
  #   volumes:
  #     - ./avatars:/app/avatars
  #   depends_on:
  #     - db

volumes:
  pgdata: