fastapi==0.114.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
psycopg2-binary==2.9.10
pydantic==2.9.2
pydantic-extra-types==2.9.0
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
pydantic[email]
bcrypt==3.2.2
pydantic-settings
python-multipart==0.0.9
Pillow==10.4.0
requests==2.31.0